.components {
  max-width: 1800px;
  margin: 0 auto;
}

.main,
.news {
  margin-top: 50px;
  padding: 0 20px 50px;
}

.news {
  display: flex;
  flex-direction: column;
}

.skeleton {
  margin-left: 20px;
  margin-right: 20px;
}